/* TODO: css grid! */

.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-row-gap: 20px;
    grid-template-columns: [col1-start] auto [col2-start] auto [col2-end];
    grid-template-rows: [row1-start] auto [row2-start];
}

.a {
    grid-column: col1-start;
    grid-row: row2-start;
}

.b {
    grid-column: col2-start;
    grid-row: row2-start;
}

body, html {
    height: 100vh;
    min-height: 100vh;
    width: 100vh;
    min-width: 100vh;
}

body {
    background-color: #1e1e1e
}

html {
    font-size: 12px;
}

.test {
    color: white;
}

.newheader {
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 1;
    grid-column: col1-start / col2-end;
    grid-row: row1-start;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-text {
    flex-grow: 0;
    color: #ebf1be
}

.divider {
    flex-grow: 1;
    height: 2px;
    background-color: #e2e2e2;
}

.color1 {
    color: #d0df0a;
}

.color2 {
    color: #ebf1be
}

.color3 {
    color: #ebddc5
}