.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    outline: 1px solid blue;
}

.a, .b {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
}
.a {
    width: 100vw;
}

body, html {
    height: 100vh;
    min-height: 100vh;
    width: 100vh;
    min-width: 100vh;
}

body {
    background-color: #1e1e1e
}

html {
    font-size: 12px;
}

.test {
    color: white;
}

.seekbar, #a {
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    width: 100vw;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.albumItem {
    background-color: red;
}
.header-text {
    flex-grow: 0;
    color: #ebf1be
}

.divider {
    flex-grow: 1;
    height: 2px;
    background-color: #e2e2e2;
}

.color1 {
    color: #d0df0a;
}

.color2 {
    color: #ebf1be
}

.color3 {
    color: #ebddc5
}