.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    border: 1px solid blue;
    width: 98vw;
}

.wrapContent {
    display: table;
    width:100%;
}

.wrapContent > div {
    display: table-cell;
}

.leftContent, .rightContent {
    max-width: 200px;
}
.leftContent {
    width: 69%;
}
.rightContent {
    background-color: #000000;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

.lrDivider {
    border-left: 1px solid red;
}

.udDivider {
    border-bottom: 1px solid green;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}
.upperContent {
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 40px;
}

body, html {
    height: 100vh;
    min-height: 100vh;
    width: 100vh;
    min-width: 100vh;
}

body {
    background-color: #1e1e1e
}

html {
    font-size: 12px;
}

.test {
    color: white;
}

.seekbar, #leftContent {
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    width: 98vw;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.albumItem {
}

.header-text {
    flex-grow: 0;
    color: #ebf1be
}

.divider {
    flex-grow: 1;
    height: 2px;
    background-color: #e2e2e2;
}
.table {
    background-color: #1e1e1e;
}
.color1 {
    color: #d0df0a;
}

.color2 {
    color: #ebf1be
}

.color3 {
    color: #ebddc5
}